/* Importation des polices depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Styles pour le corps de la page */
body {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styles pour les titres */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', 'Arial Rounded MT Bold', Arial, sans-serif;
  font-weight: bold;
}

/* Définition des couleurs dans les variables CSS */
:root {
  --white: #F6F6FF;
  --black: #1F1F1F;
  --green: #64be8b;
  --lightgreen: #7BDCB5;
  --pink: #D93DA5;
  --yellow: #E6E16D;
  --red: #FF5757;
}

/* Styles pour les couleurs de texte et d'arrière-plan */
.white { color: var(--white); }
.bgWhite { background-color: var(--white); }
.black { color: var(--black); }
.bgBlack { background-color: var(--black); }
.green { color: var(--green); }
.bgGreen { background-color: var(--green); }
.lightgreen { color: var(--lightgreen); }
.bgLightgreen { background-color: var(--lightgreen); }
.pink { color: var(--pink); }
.bgPink { background-color: var(--pink); }
.yellow { color: var(--yellow); }
.bgYellow { background-color: var(--yellow); }
.red { color: var(--red); }
.bgRed { background-color: var(--red); }

/* Styles pour la classe App */
.App { text-align: center; }

/* Dimensionnement du logo */
#logo {
  padding-left: 10%;
  width: 20% !important;
  height: 20% !important;
}
 