@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --white: #F6F6FF;
  --black: #1F1F1F;
  --green: #64be8b;
  --lightgreen: #7BDCB5;
  --pink: #D93DA5;
  --yellow: #E6E16D;
  --red: #FF5757;
}

body {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', 'Arial Rounded MT Bold', Arial, sans-serif;
  font-weight: bold;
}

/* Colors */
.white { color: var(--white); }
.bgWhite { background-color: var(--white); }
.black { color: var(--black); }
.bgBlack { background-color: var(--black); }
.green { color: var(--green); }
.bgGreen { background-color: var(--green); }
.lightgreen { color: var(--lightgreen); }
.bgLightgreen { background-color: var(--lightgreen); }
.pink { color: var(--pink); }
.bgPink { background-color: var(--pink); }
.yellow { color: var(--yellow); }
.bgYellow { background-color: var(--yellow); }
.red { color: var(--red); }
.bgRed { background-color: var(--red); }

/* Billetterie Button */
#laBilletterie {
  background-color: var(--green);
}

@media (min-width: 992px) {
  #laBilletterie { top: -460px; position: relative; left: 43%; }
}

@media (max-width: 991px) {
  #laBilletterie {
    top: -150px;
    position: relative;
    left: 30%;
    width: 150px;
    height: 35px;
    font-size: 12px;
  }
}

#laBilletterie:hover { color: var(--pink); }
.bgNews:hover { background-color: var(--lightgreen); }

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Concert and Programming Page */
.product-card {
  width: calc(33.33% - 20px);
  float: right;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--lightgreen);
}

/* Global Styles */
.custom-margin { margin-bottom: -10px; }
.custom-icon-color { color: var(--green); }

/* Newsletter Form */
.newsletter-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--green);
  margin-bottom: 70px;
}

.newsletter-form-container label { display: block; margin: 10px 0; }

.newsletter-form-container input[type="text"],
.newsletter-form-container input[type="email"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.newsletter-form-container button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: var(--pink);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter-form-container button:hover { background-color: var(--yellow); }

/* Transport Section */
.myButton { background-color: var(--green); color: var(--white); }

.myButton:hover { background-color: var(--yellow); }

/* Pink Separator Style */
.pinkSeparator {
  height: 3px;
  width: 70%;
  background-color: var(--pink);
  margin: 20px auto;
}

/* FAQ Section */
.faq-item {
  max-width: 70%;
  margin: 0 auto;
  box-shadow: 0 4px 8px var(--yellow);
  padding: 10px;
  margin-bottom: 20px;
}

.faq-question {
  background-color: var(--green);
  font-size: 1.1em !important;
  color: var(--pink);
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.faq-question:hover { background-color: var(--yellow); }

.faq-answer {
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  color: var(--black);
  margin-top: 10px;
  transition: background-color 0.3s ease, text-decoration 0.3s ease;
}

/* Cart Popup */
#panierPopup {
  position: fixed;
  top: 55px;
  right: 10px;
  z-index: 1000;
  padding: 5px 10px;
  width: auto;
}

/* Contact Form */
.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--green);
}

.form-group { margin-bottom: 15px; }

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: auto;
  padding: 10px;
  background-color: var(--pink);
  color: var(--white);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover { background-color: var(--yellow); }

/* Legal Mentions Page */
.mentions-legales-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.mentions-legales-title { margin-bottom: 30px; }

/* Ticketing Page */
.pass-item {
  display: flex;
  border: 1px solid #ccc;
  margin: 10px;
}

.pass-content { flex: 1; padding: 10px; }

.pass-image img {
  width: 50%;
  height: auto;
}

/* Add to Cart Popup Message */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

/* Cart Styles */
.panier {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

/* Remove Text Underline from Button Links */
.lien-bouton { text-decoration: none; }

/* Cart Button Style */
.panier-button {
  margin-left: auto;
  display: flex;
  align-items: center;
}
 